export NOTION_API_TOKEN='secret_************'
export TRELLO_TOKEN=f84381c572fa423f5cfc5b0a053d12d8
export BUCKET_ACCESS_KEY_ID=EXAMPLE_BUCKET_KEY_ID_ABCDEFGH
export BUCKET_SECRET_ACCESS_KEY=EXAMPLE_BUCKET_SECRET_ACCESS_KEY_ABCDEFGH
export BUCKET_NAME=EXAMPLE_BUCKET_NAME_ABCDEFGH
export BUCKET_REGION=EXAMPLE_BUCKET_REGION_ABCDEFGH
export AWS_REGION=unused
export ACTIVE_STORAGE_SERVICE=local
export DB_HOST=DB_HOST_NAME
export DB_USER=DB_USER_NAME
export DB_PASSWORD=DB_PASSWORD
