<div class='row'>
  <div class='col-sm-12'>
    <p>
      <%= order&.fabric&.title%>
      <span class='text-uppercase font-weight-bold'>
        <%= order&.fabric&.material%>
      </span>
    </p>
    <p>
      <%= order&.fabric&.description%>
    </p>
  </div>
</div>

