<div clas='row'>
  <div class='col-sm-12 col-md-6 section mt-1 image-fluid'>
    <p>Ткань</p>
    <%= image_tag(main_app.url_for order.fabric.illustration) if order.fabric.illustration.present?%>
  </div>
  <div class='col-md-6 col-sm-12 section mt-1'>
    <p>product </p>
    <%= image_tag(main_app.url_for order.product.illustration) if order.product.illustration.present?%>
  </div>
</div>
