<%= turbo_frame_tag 'customers' do %>
  <div class='form mb-2'>
    <div class='mb-2 d-flex flex-row justify-content-between'>
      <span class='text-gray-700'>Customer</span>
      <%= link_to 'Add', new_customer_path, data: { turbo_frame: 'customers' }, class: 'btn btn-outline-primary btn-sm' %>
    </div>
    <%= render partial: 'customers/select', locals: { customers: @customers } %>
  </div>
<% end %>
