<%= turbo_frame_tag 'customers' do %>
  <div class='form-group outline mb-2'>
    <div class='mb-2'>
      <span class='text-gray-700'>Покупатель</span>
    </div>
    <div class='d-flex flex-row justify-content-between'>
      <div class='flex-grow-1 mr-2'>
        <%= render partial: 'customers/select', locals: { customers: @customers } %>
      </div>
      <%= link_to '+', new_customer_path, data: { turbo_frame: 'customers' }, class: 'btn btn-outline-primary btn-sm' %>
    </div>
  </div>
<% end %>
