<div>
  <div class='mb-4'>
    <strong class='text-muted '>
      <%=
        I18n.t('orders.events', idx: @order.idx, count: @order.order_events.size)
      %>
    </strong>
  </div>

  <% @order.order_events.each do |event| %>
    <%=
      render(partial: 'orders/events/trello', locals: {event:}) if event.event_source.eql?('notification')
      render(partial: 'orders/events/payment_intent', locals: {event:}) if event.event_source.eql?('payment_intent')
    %>
  <% end %>
</div>
