<%= turbo_frame_tag 'fabric1' do %>
  <div class="form mb-2">
    <div class='m-2 d-flex flex-row justify-content-between'>
      <span class="text-gray-700">Fabric</span>
      <%= link_to 'Add', new_fabric_path, data: { turbo_frame: 'fabric1'}, class: 'btn btn-sm btn-primary btn-outline' %>
    </div>
    <%= select_tag :fabric_id,
      options_from_collection_for_select(
        @fabrics, :id, :title, { prompt: 'Select a fabric' }
      ) %>
  </div>
<% end %>
