<div class='form-row mb-2'>
  Продукт
  <%= select_tag :product_id,
    options_from_collection_for_select(
      @products, :id, :name, { prompt: 'Select a product' }
    ),
    class: 'form-control',
    'data-controller': 'orders',
    'data-orders-target': 'product'
  %>
</div>
