<div class='form-row'>
  <p> Products </p>
  <div class='d-flex flex-row form-control'>
    <%= select_tag :product_id,
      options_from_collection_for_select(
        Product.all, :id, :name, { prompt:"Select a product" }
      ), class: 'single-select-products border-gray form-control' %>
  </div>
</div>
