<%= turbo_frame_tag 'tailor' do %>
  <div class="form mb-2">
    производство
    <%= select_tag :workroom_id,
      options_from_collection_for_select(
        workrooms, :id, :name, { prompt: 'Select a tailor' },
      ),
      class: 'form-control'
    %>
  </div>
<% end %>

