<div class='orders pt-3'>
  <div class='mb-3 '>
    <div class='bg-white'>
      <h2 class='text-dark'>Новый заказ</h2>
    </div>
    <div data-controller='orders'>
      <%= render partial: 'form', locals: { order: @order } %>
    </div>
  </div>
</div>
