<div>
  <strong>
    <%= event.body['action_type'] %>: <%= event.created_at.strftime("%d/%m/%Y %H:%M:%S") %>
  </strong>

  <div>
    <span>
      <%= event.body['list_after'] %>
    </span>
  </div>
</div>
