<div class='container'>
  <% @cards.each do |card| %>
    <div>
      заказ
      <%= link_to card.idx, OrdersAdmin.path(:show, id: card.id) %>
      <%= link_to 'pdf', card_path(card.idx), target: '_blank' %>
    </div>
  <% end %>
</div>
