<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= wicked_pdf_stylesheet_pack_tag "application" %>
    <%= wicked_pdf_stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" %>
    <%= wicked_pdf_stylesheet_pack_tag('pdf') %>
  </head>
  <body onload="number_pages()">
    <%= yield %>
  </body>
</html>
